Beta/Adaptable Studio/obj/
Beta/Adaptable Studio/bin/
Beta/Updater/obj/
Beta/Updater/bin/

Minecraft Adaptable Studio/Adaptable Studio/obj/
Minecraft Adaptable Studio/Adaptable Studio/bin/
Minecraft Adaptable Studio/Updater/obj/
Minecraft Adaptable Studio/Updater/bin/

