<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ControlzEx" version="3.0.2.4" targetFramework="net40" />
  <package id="Costura.Fody" version="1.6.2" targetFramework="net40" developmentDependency="true" />
  <package id="DotNetZip" version="1.11.0" targetFramework="net40" />
  <package id="FileFormatWavefront" version="1.0.3.0" targetFramework="net40" />
  <package id="fNbt" version="0.6.3" targetFramework="net40" />
  <package id="Fody" version="2.3.23" targetFramework="net40" developmentDependency="true" />
  <package id="GlmNet" version="0.5.1.0" targetFramework="net40" />
  <package id="MahApps.Metro" version="1.6.2" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net40" />
  <package id="Platform.Model.SPS.Plugin" version="3.2.32.0" targetFramework="net40" />
  <package id="Platform.Support.Core" version="3.2.32.0" targetFramework="net40" />
  <package id="SharpGL" version="2.4.0.0" targetFramework="net40" />
  <package id="SharpGL.WPF" version="2.4.0.0" targetFramework="net40" />
</packages>